[submodule "csswizardry-grids"]
	path = csswizardry-grids
	url = https://github.com:csswizardry/csswizardry-grids.git
[submodule "white-space"]
	path = white-space
	url = https://github.com:dotnetCarpenter/white-space.git
[submodule "awesome-grid-builder"]
	path = awesome-grid-builder
	url = https://github.com:IT-Kollektivet/awesome-grid-builder.git
